@font-face {
  font-family: "iconfont"; /* Project id 3797424 */
  src: url('@/static/iconfont.ttf?t=1669902502586') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-order:before {
  content: "\e645";
}

.icon-trucking-order:before {
  content: "\e63a";
}

.icon-vehicleNo:before {
  content: "\ee45";
}

.icon-idCard:before {
  content: "\e68d";
}

.icon-copyright:before {
  content: "\e77e";
}
